- title 'Resend confirmation instructions'

.row-fluid
  = form_for resource, as: resource_name, url: confirmation_path(resource_name), :method => :post do |f|

    - errors = resource.errors[:email]
    .control-group{ class: errors.any? ? 'error' : nil }
      = f.label :email, class: 'control-label'
      .controls
        = f.email_field :email, autofocus: true, class: 'span4'
        .help-block= errors.to_sentence if errors.any?

    .controls
      %p= f.submit 'Resend confirmation instructions', class: 'btn btn-primary'
