- title 'Forgot your password?'

.row-fluid
  = form_for resource, as: resource_name, url: password_path(resource_name) do |f|

    - errors = resource.errors[:email]
    .control-group{ class: errors.any? ? 'error' : nil }
      = f.label :email, class: 'control-label'
      .controls
        = f.email_field :email, autofocus: true, class: 'span4'
        .help-block= errors.to_sentence if errors.any?

    .controls
      %p= f.submit 'Send me reset password instructions', class: 'btn btn-primary'
