- title 'Sign in'

.row-fluid
  = form_for resource, as: resource_name, url: session_path(resource_name) do |f|
    = devise_error_messages!

    .control-group
      = f.label :email, class: 'control-label'
      .controls
        = f.email_field :email, autofocus: true, class: 'span4'

    .control-group
      = f.label :password, class: 'control-label'
      .controls
        = f.password_field :password, class: 'span4'

    - if devise_mapping.rememberable?
      .control-group
        .controls
          = f.label :remember_me, class: 'checkbox' do
            = f.check_box :remember_me
            remember me

    .controls
      %p= f.submit 'Sign in', class: 'btn btn-primary'
