!!! 5
%html

  %head= render 'head'

  %body{ data: { environment: Rails.env }}
    = render 'navbar'

    .container-fluid
      %header
        - flash.each do |type, message|
          .row
            .col-sm-12
              .flash.alert{ class: "alert-#{ type }" }
                %button.close{ data: { dismiss: 'alert' }, type: 'button' } ×
                = message


      #content= yield
      %footer= render 'footer'
