!!! 5
%html

  %head= render 'head'

  %body{ data: { environment: Rails.env }}
    = render 'navbar'

    .container-fluid
      %header
        .row
          .col-sm-8.col-sm-offset-2
            .page-header
              %h1= yield :h1

      - flash.each do |type, message|
        .row
          .col-sm-8.col-sm-offset-2
            .flash.alert{ class: "alert-#{ type }" }
              %button.close{ data: { dismiss: 'alert' }, type: 'button' } ×
              = message

      = yield
      = render 'devise/shared/links' unless user_signed_in?
